@import "tailwindcss";


:root {
  --primary: #7A9FF1;
  --secondary: #2b69ed;
  --gradient: linear-gradient(to bottom, var(--primary), var(--secondary));
}

/* @font-face {
  font-family: 'AnotherDanger';
  src: url('/assets/AnotherDanger.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'AnotherDanger';
} */

body {
  --sb-track-color: #000;
  --sb-thumb-color: var(--gradient);
  --sb-size: 0.7vmax;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
}

a,
button,
img {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

body {
  min-height: 100vh;
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #000;
  overflow-x: hidden;
}

/***************************SCROLL***************************/

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
