@import 'tailwindcss';

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/assets/figtree.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --primary: #7a9ff1;
  --secondary: #2b69ed;
  --gradient: linear-gradient(to bottom, var(--primary), var(--secondary));
}

/* @font-face {
  font-family: 'AnotherDanger';
  src: url('/assets/AnotherDanger.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

 */

h1,
h2,
h3,
h4,
h5 {
  font-weight: 800;
}

body {
  --sb-track-color: #000;
  --sb-thumb-color: var(--gradient);
  --sb-size: 0.7vmax;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Poppins', sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
}

a,
button,
img {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

body {
  min-height: 100vh;
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #000;
  overflow-x: hidden;
}

/***************************SCROLL***************************/

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
