---
const arrayCards = [
  {
    title: 'Rive App Divider',
    repo: 'https://d960960gm.wixstudio.com/rive-app',
    localImage: '/assets/rive-app-divider.avif',
    id: '001'
  },
  {
    title: 'Hero UI Animation',
    repo: 'https://d960960gm.wixstudio.com/hero-ui-animation',
    localImage: '/assets/hero-ui-animation.avif',
    id: '002'
  },
  {
    title: 'Iphone Hero',
    repo: 'https://d960960gm.wixstudio.com/iphone-hero',
    localImage: '/assets/iphone-hero.avif',
    id: '003'
  },
  {
    title: 'Grid Layout',
    repo: 'https://d960960gm.wixstudio.com/grid-layout-practice',
    localImage: '/assets/grid-layout.avif',
    id: '004'
  },
  {
    title: 'Minimalist Template',
    repo: 'https://d960960gm.wixstudio.com/minimalist-template',
    localImage: '/assets/minimalist-template.avif',
    id: '005'
  },
  {
    title: 'Wix Forms',
    repo: 'https://d960960gm.wixstudio.com/wix-forms',
    localImage: '/assets/wix-forms.avif',
    id: '006'
  },
  {
    title: 'Multi Step Form',
    repo: 'https://d960960gm.wixstudio.com/multi-step-form',
    localImage: '/assets/multi-step-form.avif',
    id: '007'
  },
  {
    title: 'Service Picker & Appointment Field',
    repo: 'https://d960960gm.wixstudio.com/appointment-fields',
    localImage: '/assets/service-picker-and-appointment-field.avif',
    id: '008'
  },
];
---

<section class="am-container-cards">
  {
    arrayCards.map(({ id, localImage, repo, title }) => (
      <aside class='card' />
    ))
  }
</section>

<style>
  .am-container-cards {
    min-height: 100vh;
    display: grid;
    padding: 2.2vmax;
    gap: 2.2vmax;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17vmax, 1fr));
  }
</style>
